body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

.btn-modern {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
}

.btn-modern:hover{
    animation: transition 0.4s
}

@keyframes transition {
    0%{

    }

    100%{
        transform: translateX(-5px);
        border-bottom: 2px solid black;
        background-color: aqua;
        color: white;
    
    }
    

}
